* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.avif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ogg binary
*.mp3 binary
*.wav binary
*.zip binary

deno.lock linguist-generated=true
apps/web/static/*.js linguist-generated=true
